body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.encabezado {
  text-align: center;
  margin-bottom: 20px;
}

.titulo {
  color: #333;
  font-size: 24px;
}

.subtitulo {
  color: #666;
  font-size: 18px;
}

.contenedor-botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  background-color: #8bc3ff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.tarjeta {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  text-align: center;
  padding: 10px;
}

.tarjeta img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}
